@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.container {
    margin-top: 100px;
    height: 160%;
}

.site-controllers {
    position: fixed;
    left: 50%;
    /* right: 42%; */
    bottom: 20px;
    width: 75px;
    margin-left: -37.5px;
    height: 75px;
    /* SET TO 350 TO SHOW MORE */
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 50px;
    z-index: 9999!important;
    cursor: pointer;
    transition: all 2s;
    transform: scaleY(1);
}

.site-controllers-expanded {
    position: fixed;
    left: 50%;
    /* right: 42%; */
    bottom: 60%;
    width: 75px;
    margin-left: -37.5px;
    height: 265px;
    /* SET TO 350 TO SHOW MORE */
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 50px;
    z-index: 9999!important;
    transition: all 1.2s;
    transform: scaleY(1);
    cursor: pointer;
}

.settings-option {
    display: inline-block;
    font-size: 48px;
    margin-left: 13px;
    margin-top: 13.5px;
}

#settings-icon {
    display: inline-block;
    font-size: 48px;
    margin-left: 13px;
    margin-top: 13.5px;
    transform: rotate(0deg);
}

#settings-icon:hover {
    transition: all 1s;
    transform: rotate(180deg);
}